:root {
    --background-clr: hsl(0, 0%, 94%);
    --grey-200: hsl(0, 0%, 94%);
    --grey-500: hsl(0, 1%, 44%);
    --black-real: hsl(0, 0%, 0%);
    --white-clr: hsl(0, 100%, 100%);
    --red-400: hsl(0, 100%, 67%);
    --purple-500: hsl(259, 100%, 65%);

}
@font-face {
    font-family:"Poppins"'Times New Roman', Times, serif ;
    src: url(https://fonts.google.com/specimen/Poppins);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--background-clr);
    width: 100vw;
    height: 100vh;
}
.container {
    padding: 8px;
    height: 100%;
    font-family: "Poppins" sans-serif;
    width: 100%;
}
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.content {
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--white-clr);
    max-width: 640px;
    max-height: 70%;
    border-radius: 20px 20px 150px 20px;
    min-width: max-content;
}
.main {
    max-height: 100%;
    min-height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    max-width: 100%;
    min-width: 90%;
}
.attribution {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.row {
     display:flex; 
     gap:10px; 
     margin-bottom:20px; 
    }
    select {
      padding:10px;
      font-size:16px;
      border-radius:6px;
      border:1px solid var(--grey-200);
      min-width:90px;
      background:white;
      color: var(--grey-500);
      font-weight: bold;
    }
    .result {
          font-size:28px;
          font-weight:bold;
          margin-top:20px;
         }
    
    .purple {
         color:var(--purple-500);
         }
         .label {
            display: flex;
            flex-direction: column;
         }
         .label h5 {
            color: var(--grey-500);
            padding-left: 10px;
            font-weight: 300;
         }

        @media (max-width: 420px) {
 .purple {
         color:var(--purple-500);
         font-size: 30px;
         }
       }
       @media (min-width: 1600px) {
 .main{
    min-width: 1600px;
 }
       }